asgiref==3.8.1
diff-match-patch==20241021
Django==5.2
django-cleanup==9.0.0
django-crispy-forms==2.4
django-environ==0.12.0
django-import-export==4.3.7
iniconfig==2.1.0
packaging==25.0
pluggy==1.5.0
pytest==8.3.5
pytest-django==4.11.1
sqlparse==0.5.3
tablib==3.8.0
